# ANSWER 1

1.Write a program that removes whitespace from the following strings, then print out the strings with the whitespace removed:

In [1]:
string1= "    Filet Mignon"
string2= "Brisket     "
string3="    Cheeseburger"

In [2]:
x=string1.replace(" ","")
y=string2.replace(" ","")
z=string3.replace(" ","")

In [3]:
print(x)
print(y)
print(z)

FiletMignon
Brisket
Cheeseburger

# ANSWER 2

2.Write a program that takes input from the user and displays the input in uppercase.

In [4]:
input_string = input("enter input:")
print(input_string.upper())

enter input:ashish
ASHISH

# ANSWER 3

3.Write a program that takes input from the user and displays the number of characters in the input.

In [3]:
input_string = input("enter a string")
num = len(input_string)
print("number of characters:", num)

enter a string ASHISH KUMAR
number of characters: 13

# ANSWER 4

4.Write a program that uses input() twice to get two numbers from the user, multiples the numbers together, and displays the result. If the user enters 2 and 4, then your program should print the following text:

In [5]:
num1 = float(input("first number: "))
num2 = float(input("second number: "))
result = num1 * num2
print(f"the result of multiplying {num1} and {num2} is {result}")

first number: 2
second number: 4
the result of multiplying 2.0 and 4.0 is 8.0

# ANSWER 5

5.Create a float object named weight with the value 0.2, and create a string object named animal with the value "newt". Then use these objects to print the following string using only string concatenation:

In [16]:
weight=0.2

animal = "newt"

output = "0.2 " + "kg is the weight of " + animal 

print(output)

0.2 kg is the weight of newt

# ANSWER 6

6.Display the same string by using .format() and empty{} placeholders.

In [17]:
weight=0.2

animal="newt"

output="{} kg is the weight of {} ".format(weight,animal)

print(output)

0.2 kg is the weight of newt

# ANSWER 7

7.Display the same string using an f-string

In [19]:
weight=0.2

animal="newt"

output=f"{weight} kg is the weight of {animal}."

print(output)

0.2 kg is the weight of newt.

# ANSWER 8

8.How to add value to a python list?

In [22]:
list = [1, 2, 3]
list.extend([4,5])
print(list)

[1, 2, 3, 4, 5]

# ANSWER 9

9.What will the following code output?
Word='abcdefghij'
Word[:3]+word[3:]

In [23]:
Word = 'abcdefghij'
Word[:3] + Word[3:]

'abcdefghij'

# ANSWER 10

10. How will you remove a dublicate element from a list?

In [1]:
ori_list=[1,2,1,3,4,2]

new_list= list(set(ori_list))

print(new_list)

[1, 2, 3, 4]

# ANSWER 11

11.Write a Python program to add member(s) in a set.

In [2]:
my_set = set()

my_set.add(1)

my_set.update([2,3,4])

print(my_set)

{1, 2, 3, 4}

# ANSWER 12

12. Write a python program to remove an item from a set if it is present in  the set

In [4]:
my_set = {1,2,3,4,5}

remove_item = 3

my_set.discard(remove_item)

print("Resulting set:",my_set)

Resulting set: {1, 2, 4, 5}

# ANSWER 13

13.Write a python program to create an intersection of sets
   setx=set(["green","blue"])
   sety=set(["blue","yellow"])

In [1]:
setx=set(["green","blue"]) 
sety=set(["blue","yellow"])

intersection = setx.intersection(sety)

print("the intersectin of setx and sety is:",intersection)

the intersectin of setx and sety is: {'blue'}

# ANSWER 14

14.Write a program to remove all elements from a given set.

In [5]:
my_set=set(["green","blue","yellow"]) 

print("original_set:",my_set)

original_set: {'green', 'blue', 'yellow'}

In [8]:
my_set.clear()

print("Set after removing all element:",my_set)

Set after removing all element: set()

# ANSWER 15

15.Write a python program script to add a key to a dictionary

In [9]:
my_dict = {"name":"ASHISH","age":"24"}

print("original dict:",my_dict)

original dict: {'name': 'ASHISH', 'age': '24'}

In [11]:
my_dict["city"]="KOLKATA"

print("dict after adding new key:",my_dict)

dict after adding new key: {'name': 'ASHISH', 'age': '24', 'city': 'KOLKATA'}

# ANSWER 16

Write a python program to concatenate following dictonaries to create a new one.
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}

In [19]:
dic1={1:10,2:20} 
dic2={3:30,4:40} 
dic3={5:50,6:60}

new_dict={**dic1,**dic2,**dic3}

print("new concatinated dictinary:",new_dict)

new concatinated dictinary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

# ANSWER 17

Write a python program to check wheather a given key already exists in a dictonary.

In [20]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}

def check_key_exists(dictionary, key):
    if key in dictionary:
        print(f"The key '{key}' exists in the dictionary.")
    else:
        print(f"The key '{key}' does not exist in the dictionary.")


check_key_exists(my_dict, "age")
check_key_exists(my_dict, "country")

The key 'age' exists in the dictionary.
The key 'country' does not exist in the dictionary.

# ANSWER 21

21. Write a python program to find no of pairs in dict
{a': 5, 'b': 14, 'C: 32, 'd': 35, 'e': 24, 'P: 100, 'g': 57, h': 8, 1. 100}

In [5]:
dict={'a': 5,
      'b': 14, 
      'C': 32, 
      'd': 35, 
      'e': 24, 
      'P': 100, 
      'g': 57, 
      'h': 8, 
      'i': 100
     }

num_pairs=len(dict)

print(f"the no of key value pair in the dictionary is: {num_pairs}")

the no of key value pair in the dictionary is: 9